@import url('https://fonts.googleapis.com/css?family=Poppins');

/* BASIC */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:focus {
    outline: none;
}

body {
    background: #eee4fb;
    font-family: "Poppins", sans-serif;
    height: 120vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

/* FORMULARIO =================================== */

.form_wrap {
    width: 70%;
    height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

/* Informacion de Contacto*/

.cantact_info::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../img/Fondo.png);
    background-size: cover;
    
}

.cantact_info {
    position: relative;
    display: grid;
    grid-template-rows: 15% 70% 15%;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center center;
}

.info_title,
.info_items {
    position: relative;
    z-index: 2;
    color: rgb(70, 48, 99);
    display: grid;
    justify-content: center;
    align-items: center;
}

.info_title span {
    font-size: 100px;
    display: block;

}

.info_title h2 {
    font-size: 40px;
    text-align: center;
}

.info_items p {
    display: flex;
    align-items: center;

    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
}

.info_items p:nth-child(1) span {
    font-size: 30px;
    margin-right: 10px;
}

.info_items p:nth-child(2) span {
    font-size: 50px;
    margin-right: 15px;
    margin-left: 4px;
}


/* Formulario de contacto*/
form.form_contact {
    padding: 30px 40px;
}

form.form_contact h2 {
    font-size: 25px;
    font-weight: 600;
    color: #303030;
    margin-bottom: 30px;
    
}


form.form_contact .user_info {
    width: 100%;
}

form.form_contact label {
    font-weight: 600;
}

form.form_contact input,
form.form_contact select,
form.form_contact textarea {
    width: 100%;
    padding: 8px 0px 5px;
    margin-bottom: 20px;

    border: none;
    border-bottom: 2px solid #D1D1D1;

    font-family: 'Open sans';
    color: #5A5A5A;
    font-size: 20px;
    font-weight: 400;
}

form.form_contact input[type="button"] {
    width: 180px;
    background: #874BD7;
    padding: 10px;
    border: none;
    border-radius: 25px;

    align-self: flex-end;

    color: #fff;
    font-family: "Poppins", sans-serif;
    font-size: 26px;
    font-weight: 600;
    cursor: pointer;
}

form.form_contact input[type="button"]:hover {
    background: #DBDBDB;
}

/* Ventana de errores*/
.modal_wrap {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);

    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;

    display: flex;
    justify-content: center;
    align-items: center;
}

.mensaje_modal {
    background: #fff;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    width: 400px;
    padding: 30px 20px 15px;
}

.mensaje_modal h3 {
    text-align: center;
    font-family: 'Ubuntu';
    font-size: 20px;
    font-weight: 400;
}

.mensaje_modal h3:after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background: #C5C5C5;
    margin: 10px 0px 15px;
}

.mensaje_modal p {
    font-size: 16px;
    color: #606060;
}

.mensaje_modal p:before {
    content: "\f00d";
    font-family: FontAwesome;
    display: inline-block;
    color: gray;
    margin-right: 8px;
}

.volver-form{
    margin-top: 5%;
    grid-row-start: 4;
    position: relative;
}

div .container{
    display: grid;
    grid-template-columns: 50% 50%;
}
div .container div {
    padding: 5%;
}

.PrimerDiv{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-template-columns: 60% 40%;
    display: grid;
    padding: 2% !important;
}
.PrimerDiv .segunDiv1 input{
    margin-top: 4px !important;
}
.TerserDiv{
    grid-column-start: 1;
    grid-column-end: 3;
    display: grid;
    grid-template-columns: 50% 50%;
}
.divCorreo{
    grid-column-start: 1;
    grid-column-end: 3;
}

.container input{
    transition: .4s;
}
.container input:focus{
    border-color: rgb(163, 83, 255);
}

.contacInf{
    height: 100%;
    grid-row-start: 2;
    grid-row-end: 3;
    display: grid;
    grid-template-rows: 20% 60% 20% ;
}